<IfModule mod_rewrite.c>
  RewriteEngine On

  # If an existing file or directory is requested go to it as it is
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Otherwise forward it to index.php
  RewriteRule . index.php [L]
</IfModule>
